@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
.modal {
  backdrop-filter: blur(8px);
  padding: 25px;
}
.modal .pop-modal {
  padding: 30px 45px 25px 45px !important;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.5) !important;
  border-radius: 50px !important;
  background-color: #ffffff;
  width: 1000px;
  max-width: 90% !important;
  min-height: auto;
  margin: 0 auto;
  align-items: flex-start;
}
.modal .pop-modal .modal-content {
  position: static;
  border: 0;
}
.modal .pop-modal .modal-content .modal-close-btn {
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: transparent;
  padding: 0;
  transition: 0.2s ease;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.modal .pop-modal .modal-content .modal-close-btn:active {
  transform: scale(0.9);
}
.modal .pop-modal .modal-content .modal-header {
  display: block;
  padding: 0;
  margin-bottom: 30px;
  text-align: center;
  border: 0;
}
.modal .pop-modal .modal-content .modal-header .modal-title {
  line-height: normal;
  color: #5d80cb;
}
.modal .pop-modal .modal-content .modal-body {
  padding: 0;
}
.modal .pop-modal .modal-content .modal-body .add-answer-btn {
  width: 100%;
  padding: 5px;
  align-items: center;
  justify-content: center;
  background-color: #fdba4d;
  color: #ffffff;
  border-radius: 5px;
  border: 0;
  display: block;
  margin: 0 auto;
  transition: 0.2s ease;
  font-size: 16px !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.modal .pop-modal .modal-content .modal-body .add-answer-btn:active {
  background-color: #a9bbe0;
}
.modal .pop-modal .modal-content .modal-body .answer {
  padding: 0;
  margin-bottom: 20px !important;
}
.modal .pop-modal .modal-content .modal-body .answer .check-btn {
  width: 21px !important;
  height: 19px !important;
}
.modal .pop-modal .modal-content .modal-footer {
  border: 0 !important;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
}
.modal .pop-modal .modal-content .modal-footer .btn-add,
.modal .pop-modal .modal-content .modal-footer .btn-save {
  padding: 11px 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  background-color: #5d80cb;
  border-radius: 50px;
  margin-top: 25px;
  transition: 0.3s ease;
  border: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}
.modal .pop-modal .modal-content .modal-footer .btn-add:active,
.modal .pop-modal .modal-content .modal-footer .btn-save:active {
  background-color: #a9bbe0;
  transform: scale(0.9);
}
.modal .pop-modal .modal-content .modal-footer .btn-add:hover,
.modal .pop-modal .modal-content .modal-footer .btn-save:hover {
  box-shadow: inset 0 2px 50px rgba(0, 0, 0, 0.2);
}
.modal .pop-modal .modal-content .modal-footer .ignore-btn,
.modal .pop-modal .modal-content .modal-footer .agree-btn {
  padding: 10px 80px;
  margin: 0 12px;
  border-radius: 50px;
  color: #565656;
  border: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  transition: 0.3s ease;
}
.modal .pop-modal .modal-content .modal-footer .ignore-btn:hover,
.modal .pop-modal .modal-content .modal-footer .agree-btn:hover {
  background-color: #5d80cb;
  color: #ffffff;
}
.modal .pop-modal .modal-content .modal-footer .ignore-btn {
  background-color: #a9bbe0;
}
.modal .pop-modal .modal-content .modal-footer .agree-btn {
  background-color: #fdba4d;
}

#dataBasePage {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#dataBasePage .alert {
  z-index: 10;
}
#dataBasePage .all-delete-btn {
  padding: 10px 15px;
  border-radius: 50px;
  background-color: #5d80cb;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;
  align-items: center;
  overflow: hidden;
  visibility: hidden;
  transform: translateX(0);
  display: none;
}
#dataBasePage .all-delete-btn img {
  transform: scale(1.3);
  margin-right: 10px;
}
#dataBasePage .all-delete-btn:hover {
  background-color: #757575;
}
#dataBasePage .all-delete-btn:active {
  transform: scale(0.9);
}
#dataBasePage .visible-delete-btn {
  display: block;
  visibility: visible;
  animation: deleteAllBtnVisible 1.5s forwards;
}
#dataBasePage .hide-delete-btn {
  visibility: hidden;
  animation: deleteAllBtnNotVisible 1.5s forwards;
}
#dataBasePage .all-select-input {
  width: 18px !important;
  height: 18px !important;
  border-radius: 4px !important;
  position: relative;
  margin-left: 6px;
  transition: 0.2s ease-in-out;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #ffffff;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
  overflow: hidden;
  cursor: pointer;
  margin-right: 10px;
  display: none;
}
#dataBasePage .all-select-input:checked {
  background-color: #757575;
}
#dataBasePage .all-select-input:checked::after {
  opacity: 1;
  visibility: visible;
}
#dataBasePage .all-select-input:focus {
  border: none;
  outline: none;
}
#dataBasePage .all-select-input::after {
  content: url(../../Components/CheckedBtn/check-icon.svg);
  width: 10px;
  height: 10px;
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  transform: translate(25%, -40%);
  opacity: 0;
}
#dataBasePage .header {
  display: flex;
  align-items: center;
  padding: 30px 0 30px 0;
}
#dataBasePage .header .header-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  color: #5d80cb;
  margin-bottom: 0;
  margin-right: 40px;
}
#dataBasePage .header .search-box {
  width: 70%;
  background: #ffffff;
  display: flex;
  align-items: center;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 7px 0 7px 20px;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0 auto;
  transition: 0.2s ease-in-out;
}
#dataBasePage .header .search-box .search-bar {
  width: 100%;
  border: 0;
  border-radius: 0;
  padding: 0 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #757575;
}
#dataBasePage .header .search-box .search-bar:focus {
  outline: none;
}
#dataBasePage .header .search-box .search-bar::placeholder {
  color: #bababa;
}
#dataBasePage .header .search-box:focus-within {
  box-shadow: 0 0 6px #5d80cb;
}
#dataBasePage .header .add-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  border-radius: 50px;
  color: #ffffff;
  background-color: #5d80cb;
  padding: 6px 15px;
  margin-left: 40px;
  display: flex;
  align-items: center;
  transition: 0.2s ease;
}
#dataBasePage .header .add-btn:hover {
  background-color: #4665a7;
}
#dataBasePage .header .add-btn:active {
  transform: scale(0.9);
}
#dataBasePage .header .add-btn .plus-icon {
  font-size: 14px;
  margin-left: 5px;
}
#dataBasePage .field-label {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #737373;
  margin-bottom: 5px;
}
#dataBasePage .field-input {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #757575;
}
#dataBasePage .field-input::placeholder {
  color: #bfbfbf;
  font-weight: normal;
}
#dataBasePage .btn-save-field {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  border-radius: 50px;
  color: #ffffff;
  background-color: #5d80cb;
  padding: 5px 30px;
  transition: 0.2s ease;
}
#dataBasePage .btn-save-field:hover {
  background-color: #4665a7;
}
#dataBasePage .btn-save-field:active {
  transform: scale(0.9);
}
#dataBasePage .columns {
  padding: 6px 0 !important;
  background-color: #ffffff;
  border-bottom: 4px solid #c9c9c9;
}
#dataBasePage .columns .column-item .col-name {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #757575;
  margin-bottom: 0;
}
#dataBasePage .question-container {
  height: 100%;
  overflow-y: auto;
}
#dataBasePage .question-container::-webkit-scrollbar {
  width: 2px;
  border-radius: 5px;
}
#dataBasePage .question-container::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 5px;
}
#dataBasePage .question-container::-webkit-scrollbar-thumb {
  background-color: #757575;
  border-radius: 5px;
}
#dataBasePage .question-container .questions-list {
  padding: 2px 0 8px 0;
  background-color: transparent;
  border: none;
  border-radius: 0;
  overflow-y: auto;
  white-space: nowrap;
}
#dataBasePage .question-container .questions-list .question {
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 5px 0 10px 0;
  border-bottom: 2px solid #c9c9c9 !important;
  margin-bottom: 10px;
}
#dataBasePage .question-container .questions-list .question .column-item {
  display: flex;
  align-items: center;
}
#dataBasePage .question-container .questions-list .question .column-item .question-number,
#dataBasePage .question-container .questions-list .question .column-item .question-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #757575;
  margin: 0;
}
#dataBasePage .question-container .questions-list .question .column-item .btn {
  transition: 0.2s ease;
  padding: 0;
}
#dataBasePage .question-container .questions-list .question .column-item .btn img {
  width: 100%;
}
#dataBasePage .question-container .questions-list .question .column-item .btn:focus {
  box-shadow: none;
}
#dataBasePage .question-container .questions-list .question .column-item .btn:active {
  transform: scale(0.9);
}

@keyframes deleteAllBtnVisible {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(200%) rotate(180deg) scale(0.5);
    box-shadow: none;
  }
  50% {
    transform: translateX(0);
    visibility: visible;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  }
}
@keyframes deleteAllBtnNotVisible {
  0% {
    opacity: 1;
    visibility: visible;
    display: block;
    transform: translateX(0);
  }
  100% {
    transform: translateX(200%) rotate(180deg) scale(0.5);
    opacity: 0;
    visibility: hidden;
  }
}
/* Responsive */
@media (min-width: 0) and (max-width: 767px) {
  .modal {
    padding: 25px 0;
  }
  .modal .pop-modal {
    padding: 30px 15px 25px 15px !important;
  }
  .modal .pop-modal .modal-content .modal-close-btn img {
    width: 22px;
  }
  .modal .pop-modal .modal-content .modal-header .modal-title {
    margin-top: 25px;
  }
  .modal .pop-modal .modal-content .modal-body .add-answer-btn {
    font-size: 12px !important;
  }
  .modal .pop-modal .modal-content .modal-body .answer .check-btn {
    width: 22px !important;
    height: 19px !important;
  }
  .modal .pop-modal .modal-content .modal-footer .btn-add,
.modal .pop-modal .modal-content .modal-footer .btn-save {
    padding: 8px 50px;
    font-size: 12px;
  }
  .modal .pop-modal .modal-content .modal-footer .ignore-btn,
.modal .pop-modal .modal-content .modal-footer .agree-btn {
    padding: 8px 35px;
    margin: 0 5px;
    font-size: 12px;
  }

  #dataBasePage .all-delete-btn {
    padding: 3px;
    border-radius: 50px;
    border: 0;
    outline: 0;
    font-size: 0;
    margin-right: 5px;
    overflow: hidden;
    background-color: #fdba4d;
  }
  #dataBasePage .all-delete-btn img {
    transform: scale(1.1);
    margin-right: 0;
  }
  #dataBasePage .all-delete-btn:active {
    transform: scale(0.8);
  }
  #dataBasePage .header {
    padding: 20px 0 20px 0;
  }
  #dataBasePage .header .header-title {
    font-size: 20px;
    margin-right: 0;
    margin-bottom: 10px;
    text-align: center;
  }
  #dataBasePage .header .search-box {
    padding: 7px 0 7px 15px;
    margin-bottom: 10px;
  }
  #dataBasePage .header .search-box .search-bar {
    padding: 0 8px;
    font-size: 14px;
  }
  #dataBasePage .header .search-box label {
    display: flex;
    align-items: center;
  }
  #dataBasePage .header .search-box label img {
    width: 20px;
  }
  #dataBasePage .header .header-buttons {
    justify-content: center !important;
  }
  #dataBasePage .header .add-btn {
    font-size: 12px;
    padding: 5px 15px;
    margin-left: 0;
  }
  #dataBasePage .header .add-btn .plus-icon {
    font-size: 10px;
  }
  #dataBasePage .field-label {
    font-size: 14px;
  }
  #dataBasePage .field-input {
    font-size: 12px;
  }
  #dataBasePage .btn-save-field {
    font-size: 12px;
    margin-top: 10px;
  }
  #dataBasePage .columns .column-item .col-name {
    font-size: 14px;
  }
  #dataBasePage .columns .column-item:nth-child(2) {
    display: flex;
    justify-content: center;
  }
  #dataBasePage .question-container .questions-list .question .column-item .question-number,
#dataBasePage .question-container .questions-list .question .column-item .question-title {
    font-size: 14px;
  }
}

/*# sourceMappingURL=style.css.map */
