@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
#welcomePage {
  background: linear-gradient(to right, #f5f5f5 50%, #6948a4 50%);
}
#welcomePage .left-side,
#welcomePage .right-side {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#welcomePage .left-side img,
#welcomePage .right-side img {
  -webkit-user-drag: none;
}
#welcomePage .right-side .user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#welcomePage .right-side .user-form img {
  width: 100px;
  height: 100px;
  -webkit-user-drag: none;
}
#welcomePage .right-side .user-form .input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
#welcomePage .right-side .user-form .input-group:last-child {
  margin-bottom: 0;
}
#welcomePage .right-side .user-form .input-group .input-label {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #fdba4d;
  margin-bottom: 5px;
}
#welcomePage .right-side .user-form .input-group .form-input {
  width: 257px;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 12px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  border: none;
  transition: 0.3s ease;
}
#welcomePage .right-side .user-form .input-group .form-input::placeholder {
  color: #bfbfbf;
}
#welcomePage .right-side .user-form .input-group .form-input:focus {
  outline: none;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}
#welcomePage .right-side .role-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
#welcomePage .right-side .role-buttons .form-button {
  border-radius: 50%;
  border: 21px solid #ffffff;
  box-shadow: 0 4px 25px #acacac;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
}
#welcomePage .right-side .role-buttons .form-button:first-child {
  width: 142px;
  height: 142px;
  background-color: #fdba4d;
  margin-bottom: 27px;
}
#welcomePage .right-side .role-buttons .form-button:first-child img {
  width: 43px;
  margin-top: 2px;
  margin-left: 10px;
}
#welcomePage .right-side .role-buttons .form-button:first-child .text-btn {
  color: #5d80cb;
}
#welcomePage .right-side .role-buttons .form-button:last-child {
  width: 120px;
  height: 120px;
  background-color: #5d80cb;
}
#welcomePage .right-side .role-buttons .form-button:last-child .text-btn {
  color: #ffffff;
}
#welcomePage .right-side .role-buttons .form-button:active {
  transform: scale(0.9);
  box-shadow: 0 0 15px #acacac69;
}
#welcomePage .right-side .role-buttons .form-button .text-btn {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  display: none;
}
#welcomePage .bottom-text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  bottom: 0;
  left: 0;
  text-align: center;
  opacity: 0.5;
}

@media (min-width: 0) and (max-width: 767px) {
  #welcomePage {
    height: 100vh;
    background: linear-gradient(to bottom, #f5f5f5 25%, #6948a4 25%);
  }
  #welcomePage .left-side {
    height: 25%;
  }
  #welcomePage .left-side .logo {
    transform: scale(0.5);
  }
  #welcomePage .right-side {
    align-items: center;
    flex-direction: column;
    height: 75%;
  }
  #welcomePage .right-side .role-buttons {
    margin-top: 15px;
    position: static;
    transform: translate(0);
  }
  #welcomePage .right-side .role-buttons .form-button {
    padding: 10px;
    border-radius: 5px;
    box-shadow: none;
  }
  #welcomePage .right-side .role-buttons .form-button:first-child, #welcomePage .right-side .role-buttons .form-button:last-child {
    width: 257px;
    height: auto;
    border: none;
  }
  #welcomePage .right-side .role-buttons .form-button:first-child {
    margin-bottom: 15px;
  }
  #welcomePage .right-side .role-buttons .form-button img {
    display: none;
  }
  #welcomePage .right-side .role-buttons .form-button .text-btn {
    display: block;
  }
  #welcomePage .bottom-text {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #welcomePage .left-side {
    justify-content: flex-end;
  }
  #welcomePage .left-side .logo {
    transform: scale(0.7);
  }
  #welcomePage .right-side {
    justify-content: flex-end;
  }
  #welcomePage .right-side .user-form .input-group .form-input {
    width: 240px;
  }
  #welcomePage .right-side .role-buttons .form-button {
    border-width: 15px;
  }
  #welcomePage .right-side .role-buttons .form-button img {
    width: 70%;
  }
  #welcomePage .right-side .role-buttons .form-button:first-child {
    width: 100px;
    height: 100px;
  }
  #welcomePage .right-side .role-buttons .form-button:first-child img {
    width: 70%;
    margin: 0;
    margin-left: 10px;
  }
  #welcomePage .right-side .role-buttons .form-button:last-child {
    width: 80px;
    height: 80px;
  }
  #welcomePage .bottom-text {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #welcomePage .left-side {
    justify-content: center;
  }
  #welcomePage .left-side .logo {
    transform: scale(0.7);
  }
  #welcomePage .right-side {
    justify-content: center;
  }
  #welcomePage .right-side .user-form .input-group .form-input {
    width: 240px;
  }
  #welcomePage .right-side .role-buttons .form-button {
    border-width: 15px;
  }
  #welcomePage .right-side .role-buttons .form-button img {
    width: 70%;
  }
  #welcomePage .right-side .role-buttons .form-button:first-child {
    width: 120px;
    height: 120px;
  }
  #welcomePage .right-side .role-buttons .form-button:first-child img {
    width: 70%;
    margin: 0;
    margin-left: 10px;
  }
  #welcomePage .right-side .role-buttons .form-button:last-child {
    width: 100px;
    height: 100px;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  #welcomePage .left-side .logo {
    transform: scale(0.9);
  }
  #welcomePage .right-side .role-buttons .form-button {
    border-width: 15px;
  }
  #welcomePage .right-side .role-buttons .form-button:first-child {
    width: 120px;
    height: 120px;
  }
  #welcomePage .right-side .role-buttons .form-button:first-child img {
    width: 70%;
    margin: 0;
    margin-left: 10px;
  }
  #welcomePage .right-side .role-buttons .form-button:last-child {
    width: 100px;
    height: 100px;
  }
}

/*# sourceMappingURL=style.css.map */
