@import "./components";
body {
  width: 100vw;
  height: 100vh;
  padding: 0 !important;
  margin: 0 !important;
  background-color: $color-bg !important;
  overflow: hidden !important;
  
  .alert {
    display: none;
    margin-bottom: 0;
    position: absolute;
    top: 0;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    transition: 0.2s ease-in-out;
    transform: translateY(-100%);
    border: none;
    border-radius: 0;
    .alert-icon {
      margin-right: 5px;
    }
  }
  .show-alert {
    transform: translateY(0) !important;
  }
}
